<footer class="container-fluid">
  <div class="row p-5 bg-dark text-white" style=" justify-content: space-around;" >
    <div class="col-xs-12 col-md-6 col-lg-3">
      <p class="h3">Codigo</p>
        <div class="mb-2">
        <a class="text-white text-decoration-none" href="https://github.com/albertogonzalezm/django-project-films">Github</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <p class="h5 mb-2">Herramientas Usadas</p>
      <div class="mb-2">
        <a class="text-white text-decoration-none" href="https://www.djangoproject.com/">Django</a>
      </div>
      <div class="mb-2">
        <a class="text-white text-decoration-none" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML 5</a>
      </div>
      <div class="mb-2">
        <a class="text-white text-decoration-none" href="https://getbootstrap.com/">Bootstrap</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <p class="h5">Contacto</p>
      <div class="mb-2">
        <a class="text-white text-decoration-none" href="mailto:albertogonzalezmantilla@gmail.com">Email</a>
      </div>
      <div class="mb-2">
        <a class="text-white text-decoration-none" href="https://www.linkedin.com/in/albertoagonzalezm/">LinkedIn</a>
      </div>
    </div>
  </div>
</footer>