{% extends 'base.html' %}

{% block content %}
<header class="container p-3">
    <div class="bg-dark row p-3">
        <div class="col-md-4">
            <img class="" src="{{ director.image.url }}" alt="{{film.director}}" width=100%>
        </div>
        <div class="col-8 my-auto text-light">
            <h1>{{ director.name }}</h1>
            <p class="fs-5">{{ director.information }}</p>
        </div>
    </div>
</header>
{% for film in films %}
<div class="container p-3">
    <div class="card card-body">
        <div class="row">
            <div class="col-3">
                <img src="{{film.poster.url}}" alt="{{ film.title }}" width=100%>
            </div>
            <div class="col-9">
                <h2>{{ film.title }}</h2>
                <p class="fs-5">{{ film.synopsis }}</p>
                <a href="{% url 'filmDetail' film.title %}">Ver Pelicula</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}